body {
    font-size:16pt;
    text-align: center;
    background-color: #FEFFF0 ;
}

h1 {
    color:#FFC000;
    font-size: 80px;
    text-align: center ;
}

.earth{
    position: absolute;
    top:20px;
    left:1050px;
    width:10%;
}

.car{
    position:absolute;
    top:350px;
    left:980px;
    width:20%;
}

.buttonL {
    margin-right:100px;
    margin-top:200px;
    width:150px;
    height:50px;
}
.buttonR {
    margin-left:100px;
    margin-top:200px;
    width:150px;
    height:50px;
}